<!doctype html>
<html ⚡ lang="en">
<head>
<meta charset="utf-8">
<title>{{page.title}}</title>
<meta name="description" content="{{ page.description | default: site.description }}">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<link rel="canonical" href="{{page.canonical}}"/>

<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "NewsArticle",
	"headline": "Jeff Metter",
	"datePublished": "2018-04-08T20:33:53+00:00",
	"image": [
		"https://www.gravatar.com/avatar/fdd4ee39e3951d587a97d95346825c0a?s=1000&r=pg"
	]
}
</script>

<script async src="https://cdn.ampproject.org/v0.js"></script>
<script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

<style amp-custom>

@font-face{font-family:'fontello';src:url(./font/fontello.eot?19922951);src:url('./font/fontello.eot?19922951#iefix') format('embedded-opentype'),url(./font/fontello.woff2?19922951) format('woff2'),url(./font/fontello.woff?19922951) format('woff'),url(./font/fontello.ttf?19922951) format('truetype'),url('./font/fontello.svg?19922951#fontello') format('svg');font-weight:400;font-style:normal}[class^="icon-"]:before,[class*=" icon-"]:before{font-family:"fontello";font-style:normal;font-weight:400;speak:none;display:inline-block;text-decoration:inherit;width:1em;margin-right:.2em;text-align:center;font-variant:normal;text-transform:none;line-height:1em;margin-left:.2em;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.icon-search:before{content:'\e800'}

@font-face{font-family:'Neuton';font-style:normal;font-weight:800;src:local('Neuton ExtraBold'),local('Neuton-ExtraBold'),url(https://fonts.gstatic.com/s/neuton/v10/UMBQrPtMoH62xUZKaK4vcwr4LLkw6C97.woff2) format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:'Neuton';font-style:normal;font-weight:800;src:local('Neuton ExtraBold'),local('Neuton-ExtraBold'),url(https://fonts.gstatic.com/s/neuton/v10/UMBQrPtMoH62xUZKaK4vfQr4LLkw6A.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}

h1 {
	font-family: 'Neuton', serif;
}


</style>

</head>
<body>

<!-- Google Tag Manager -->
<amp-analytics config="https://www.googletagmanager.com/amp.json?id=GTM-N4SSW5L&gtm.url=SOURCE_URL" data-credentials="include"></amp-analytics>